# Runs sitemap hourly at minute 23, pings search engines
23 * * * * RAILS_ENV=production /usr/local/bundle/bin/rake -f /opt/mastodon/Rakefile sitemap:refresh >> /var/log/cron.log 2>&1

# Run these weekly to reduce database size
0 0 * * 0 RAILS_ENV=production /opt/mastodon/bin/tootctl media remove >> /var/log/cron.log 2>&1
0 0 * * 1 RAILS_ENV=production /opt/mastodon/bin/tootctl statuses remove --days 30 >> /var/log/cron.log 2>&1
0 0 * * 2 RAILS_ENV=production /opt/mastodon/bin/tootctl preview_cards remove --days 30 >> /var/log/cron.log 2>&1

# Run tootctl search deploy daily to refresh search indexes
0 3 * * * RAILS_ENV=production /opt/mastodon/bin/tootctl search deploy >> /var/log/cron.log 2>&1

# Make a HEAD, GET, or a POST request to the following URL every hour 
0 * * * * curl -fsS --retry 3 $BETTER_STACK_CRON >> /var/log/cron.log 2>&1
